@font-face {
	font-family: RedHad;
	font-weight: 400;
	src: url('../fonts/redhatfont/OTF/RedHatDisplay-Regular.otf') format("opentype");
}
@font-face {
	font-family: RedHad;
	font-weight: 500;
	src: url('../fonts/redhatfont/OTF/RedHatDisplay-Medium.otf') format("opentype");
}
@font-face {
	font-family: RedHad;
	font-weight: 600;
	src: url('../fonts/redhatfont/OTF/RedHatDisplay-Bold.otf') format("opentype");
}
@font-face {
	font-family: RedHad;
	font-weight: 800;
	src: url('../fonts/redhatfont/OTF/RedHatDisplay-Black.otf') format("opentype");
}